.container {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.boxes {
    width: 300px;
    margin: 10px;
    background-color: white;
    border-radius: 15px;
    transition: 0.2s;
}

.box-img img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.box-body h1 {
    text-align: center;
}

.box-body p {
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
}

.box-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-footer button {
    width: 150px;
    background: black;
    color: white;
    border-radius: 15px;
    border: 2px solid black;
    padding: 6px;
    font-size: 17px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: 0.2s;
}

.box-footer button:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.boxes:hover {
    box-shadow: 3.9px 7.8px hsl(0deg 0% 0% / 0.38)
}

@media screen and (max-width: 700px) {
    .boxes{
        flex-direction: column;
    }
}
